# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/MittWattTests/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# database
/prisma/db.sqlite
/prisma/db.sqlite-journal

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
# do not commit any .env files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

#jetbrains
/.idea/

#database
/prisma/scripts/__pycache__
*.pyc
/prisma/.cache.sqlite
/prisma/script_v0.py
/prisma/run.py
/prisma/logs/database.log
/prisma/source_data/electricity_archive.xlsx

#Virtual Environment
/venv
/mittwatt
/algorithm/original_electricity_price_model.h5
/algorithm/KerasSequentialModel.ipynb
/algorithm/DataAnalysisOnInitialDataset.ipynb
/algorithm/model.py
/algorithm/prediction.py
/algorithm/nohup.out
/algorithm/dataset

# Model
/ml_models/ml_model.log